.display-div[data-v-773488ac]{background-color:var(--el-bg-color);border:1px solid var(--el-border-color);line-height:36px;margin-bottom:20px;margin-top:8px;max-height:100px;min-height:36px;overflow-y:auto;padding:0 12px}
