.dynamic-headers[data-v-b7bb20c8]{margin-bottom:16px}.header-item[data-v-b7bb20c8]{background:var(--el-bg-color-page);border-radius:4px;margin-bottom:12px;padding:12px}.header-item[data-v-b7bb20c8]:last-child{margin-bottom:8px}
