.dynamic-params[data-v-65be6857]{margin-bottom:16px}.param-item[data-v-65be6857]{background:var(--el-bg-color-page);border-radius:4px;margin-bottom:12px;padding:12px}.param-item[data-v-65be6857]:last-child{margin-bottom:8px}
