.el-textarea[data-v-0f7fea40] .el-textarea__inner{--el-input-text-color:#1a1a1a;--el-input-bg-color:#f7f7f7;border-radius:8px;box-shadow:none;font-size:14px;font-weight:500;height:100%;line-height:1.25;padding:12px}
